@media screen and (max-width: 768px) {
  .carousel-inner {
    transform: translateX(-59%);
    position: relative;
    width: 100%;
    overflow: hidden;
    overflow: visible;
  }

  .active {
    transition: none;
  }

  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
    display: block;
    transition: none;
  }

  .carousel-item-next {
    transform: translateX(0) !important;
  }

  .active.carousel-item-left,
  .active.carousel-item-left + .carousel-item,
  .active.carousel-item-left + .carousel-item + .carousel-item {
    transform: translateX(-100%) !important;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }

  .active.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    display: block;
    transform: translateX(-100%) !important;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }

  .carousel-item-prev:not(.carousel-item-right),
  .active.carousel-item-right {
    transform: unset !important;
  }

  .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
    transform: translateX(100%) !important;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }

  .carousel-item--prefirst {
    display: block;
  }

  .product-grid {
    padding-right: 7.5px;
    padding-left: 7.5px;
  }
}
@media (min-width: 768px) {
  .carousel-inner {
    transform: translateX(-12.5%);
    position: relative;
    width: 100%;
    overflow: hidden;
    overflow: visible;
  }

  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item,
  .carousel-inner
    .active
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item,
  .carousel-inner
    .active
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    display: block;
  }

  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item
    + .carousel-item,
  .carousel-inner
    .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    transition: none;
  }

  .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    z-index: -1;
    position: relative;
  }

  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(-100, 0, 0);
  }

  .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -100%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  .carousel-inner
    .active.carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: absolute;
    top: 0;
    right: -50%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item,
  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item,
  .carousel-item-prev.carousel-item-right
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }

  .carousel-item-next.carousel-item-left
    + .carousel-item
    + .carousel-item
    + .carousel-item
    + .carousel-item {
    position: unset !important;
  }

  .active.carousel-item-right,
  .carousel-item-next:not(.carousel-item-left) {
    position: relative;
    transform: translate3d(0, 0, 0);
  }
}

.carousel-caption {
  color: #000;
}

.carousel-item {
  margin-right: 0 !important;
}

.carousel-control-next,
.carousel-control-prev {
  width: 10%;
}

.carousel-control-next span,
.carousel-control-prev span {
  width: 45px;
  height: 45px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control-prev span {
  left: 0;
}

.carousel-control-next span {
  right: 0;
}

/* Product Grid */
.svg--star {
  color: #f4436c;
  height: 16px;
  margin: 0 2.5px;
}

.svg--star path {
  fill: currentColor;
}

.review-count {
  margin-left: 5px;
}

.review-count a {
  color: #151515;
  text-decoration: underline;
}

.review-count a:hover {
  color: #f4436c;
}

.product-grid__title {
  font-size: 20px;
  line-height: 25px;
  color: #343a40;
  height: 100%;
  min-height: 80px;
  flex-grow: 1;
}

.product-grid__price {
  color: #f4436c;
  font-size: 20px;
  line-height: 25px;
  margin: 0 5px;
}

.product-grid__price--regular {
  color: #151515;
  text-decoration: line-through;
}

.add-to-cart {
  color: #fff;
  background-color: #f4436c;
  border-color: #f4436c;
}

.add-to-cart:hover {
  background-color: #b22d4b;
  border-color: #b22d4b;
}
